[Unit]
Description=Garnet DeGelder's Remote System Monitor

[Service]
Type=simple
ExecStart=/usr/bin/garnetdg_monitor.py
Restart=always

[Install]
WantedBy=network.target
